@import "/src/styles/variables.scss";

.MainPage{
    background-color: $background-blue;

    .mainTitle{
        font-family: "SupplyCenter";
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        color: $max-white;
    }

}