@import "/src/styles/variables.scss";

.CustomTitle{
    
    .mainTitle{
        padding-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: "SupplyCenter", sans-serif;
        font-size: 100px;
        font-weight: bold;
        color: $maxWhite;
    }

    @media screen and (max-width: 675px) {
        .mainTitle {
            font-size: 50px;
        }
    }
    @media screen and (max-width: 900px) and (min-width: 675px) {
        .mainTitle {
            font-size: 70px;
        }
    }
}