@import "/src/styles/variables.scss";

.CustomTitle{
    
    .mainTitle{
        padding-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: "SupplyCenter", sans-serif;
        font-size: 100px;
        font-weight: bold;
        color: $maxWhite;
    }
}