@import "/src/styles/variables.scss";

.CustomLabelledTextField{

    .label{
        margin-bottom: 10px;
        font-family: "SupplyCenter", sans-serif;
        padding: 10px;
        color: $maxWhite;
        font-size: 30px;
    }

    .textField{

        .MuiInputBase-root{
            margin-bottom: 10px;
            color: $maxBlack;
            font-weight: bold;
            font-size: 30px;
            background-color: $maxWhite;
            border-radius: 5px;
        }

        .MuiInputLabel-outlined{
            opacity: 0;
        }
    }
    
}