@import "/src/styles/variables.scss";

.SettingsPage{
    padding-top: 50px;

    .mapSizeRules{
        margin-top: -10px;
        text-align: center;
        color: $errorRed;
        font-weight: bold;
        font-size: 20px;
    }
}