.CustomMap{
    margin: auto;
    margin-top: -50px !important;
    padding-bottom: 100px;
    
    .emblem-container{
        text-align: center;

        .emblem{
            margin-top: -18px !important;
            height: 50px;
            width: 50px;
            font-size: 60px;
        }
    }
}