@import "/src/styles/variables.scss";

.CustomMap{
    margin: auto;
    padding-bottom: 55px;
    
    .emblem-container{
        text-align: center;
    }

    .customSquareTd{
        overflow: hidden;
        background-color: $errorRed;
        color: $errorRed;
        border: 0.5px solid $errorRed;
    }

    .customSquareDiv{
        color: $maxBlack;
        border: 1px solid $maxWhite;
        background-color: $maxWhite;
        text-align: center;
        text-transform: uppercase;
    }
}