@import "/src/styles/variables.scss";

.GamePage{
    padding-top: 50px;
    background-color: $background-blue;
    width:fit-content;

    .nextMove{
        color: $maxWhite;
        text-align: right;
        font-family: "SupplyCenter";
        font-size: 30px;
        font-weight: bold;
        margin-right: 10px;
    }

    .restartButton{
        padding: 10px;
        text-align: left;
        margin-left: 70px;

        .MuiButton-root{
            margin-bottom: 10px;
            border-radius: 10px;
            border-color: $errorRed;
            font-size: 26px;
            font-weight: bold;
            background-color: $errorRed;
            color: $maxWhite;
        }

        .MuiButton-root:hover{
            border-color: $errorRed;
            background-color: $maxWhite;
            color: $errorRed;
        }

    }
}